<%- include('partials/header'); -%>
<div class="center error-div">
  <h1 class="oops">oops! Invalid input, please try again:</h1>
  <a href="/"> <button type="button" class="btn-error" name="button">Try again</button> </a>
</div>
</body>

</html>